<div class="breed-box">
  <h2><%= current_user.email %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <%= f.label :profile_photo, 'Profile Picture' %>
      <%= f.file_field :profile_photo %>
    </div>

    <div class="actions">
      <%= f.submit "Update Account" %>
    </div>



  <% end %>

  <div class="field">
    <br />
    <h3>Cancel My Account</h3>
    <p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

  <%= link_to "Back", :back %>
</div>
